 /**
 * style.css 
 * by: stevekeol
 * birth-date:2017.4.12
 * ydy,hangzhou
 * https://ydytech.net
 */  

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
  width:100%;
  height:100%;
  /*background:#000;*/
  background-color: #111111;
  color: #fff;
  font-family: tahoma, arial, sans-serif;
  padding-left: 100px;
}


/*字体*/

@font-face {
  font-family: 'dataShow-font';
  src: url('../fonts/dataShow-font.woff2');
  font-weight: normal;
  font-style: normal;
}
 .dataShow-font{
 font-family: 'dataShow-font';
 color:#0f0;
 font-size:200%;
}


/*字体*/
canvas{
  background: #fff;
  /*padding: 0.5%;*/
  margin:1%;
}

.inline{  
    display: inline-block;  
}  

#page_title{
margin:2%;
font-size:1.5em;
}


